header {
    background-color: #65d10c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;

}

.Logo {
    height: 8rem;
    border-radius: 50%;
    background-color: white;
    border: 0.2rem solid #008700;

}

.BoxLink {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.Submit {
    background-color: blue;

}