
#PapelReciclado{
    background-image: url(../assets/Background/PapelReciclado.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.Titulo{
    font-size: 8rem;
    
}

.Produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100rvh;
    
}

.Carrossel{
    display: flex;


}