
#PapelReciclado{
    background-image: url(../assets/Background/PapelReciclado.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.TituloProdutos{
    font-size: 300%;
    padding: 5% 0% 3% 0%;
}

.Produtos{  
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Carrossel{
    display: flex;

}